* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 8px;
}

.review-modal-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}

.review-modal-container h2 {
    font-size: 32px;
}

.review-modal-btns button {
    background-color: #0cefeb;
    color: #007573
}

.review-modal-btns button:hover {
    background-color: #007573;
    color: white;
}

.review-modal-btns button:disabled {
    background-color: #d3d3d3;
    color: #a0a0a0;
    cursor: not-allowed;
    border: 1px solid #a0a0a0;
}

.add-review-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.add-review-form textarea {
    width: 300px;
    height: 10vw;
    font-size: 18px;
    padding: 10px;
}

.stars {
    font-size: 1.5rem;
    color: #333
}

.star-rating {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.star-icon {
    font-size: 32px;
    color: pink;
}

.star-icon.filled {
    color: hotpink;
}

.star-icon:hover {
    color: hotpink;
}

.review-modal-btns {
    display: flex;
    gap: 20px;
}