.user-spot-btns {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

.user-spot-btns button {
    background-color: hotpink;
    color: white;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
}

.user-spot-btns button:hover {
    cursor: pointer;
    background-color: pink;
    color: hotpink;
}